#BlogUpload {
    padding-top: 87px;

    * {
        font-family: 'Work Sans', sans-serif;
    }

    .container_wrapper {
        max-width: 1205px;
        margin: 0 auto;

        @media (max-width: 1205px) {
            padding-inline: 12px;
        }

        .section_header {
            label {
                width: 100%;
                height: 159px;
                border-radius: 15px;
                background: #C4C4C4;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 74px;
                color: #FFF;
                font-size: 15px;
            }
        }

        .section_body {
            .form_group {
                margin-bottom: 32px;

                label {
                    display: block;
                    margin-bottom: 8px;
                }

                input,
                textarea {
                    width: 100%;
                    display: block;
                    padding: 8px;
                }

                textarea {
                    height: 184px
                }
            }
        }

        .section_footer {
            text-align: center;

            .upload_btn {
                border-radius: 20px;
                background: #1A5EE1;
                color: #fff;
                font-size: 15px;
                padding: 11px 15px;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }
    }
}